#results {
    display: grid;
    gap: 25px;
}

#results-board {
    background-color: var(--background-results);
    width: auto;
    height: auto;

    .result-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
    }

    .text {
        * {
            margin: 0%;
        }

        #name {
            color: white;
        }

        #subname {
            color: var(--color-subname);
        }
    }

    #result {
        margin: 0%;
        color: var(--color-results);
    }
}