.percentage {
    border: 0px;
    border-radius: 4px;
    color: white;
    text-align: center;
    background-color: var(--background-percentage);
    height: 24px;

    &:hover {
        background-color: var(--hover-background-percentage);
        color: var(--background-percentage);
    }
}

#tips {
    #name {
        margin: 0px 0px 10px 0px;
        color: var(--color-name);
    }

    #percentages {
        display: grid;
        grid-template-columns: auto auto 33%;
        gap: 5px;

        Input {
            width: 100%;
            text-align: center;
        }
    }
}

.input-percentage {
    display: none;
}

input#radio-0:checked ~ .percentage#percentage-0 {
    background-color: var(--hover-background-percentage);
        color: var(--background-percentage);
}
input#radio-1:checked ~ .percentage#percentage-1 {
    background-color: var(--hover-background-percentage);
        color: var(--background-percentage);
}
input#radio-2:checked ~ .percentage#percentage-2 {
    background-color: var(--hover-background-percentage);
        color: var(--background-percentage);
}
input#radio-3:checked ~ .percentage#percentage-3 {
    background-color: var(--hover-background-percentage);
        color: var(--background-percentage);
}
input#radio-4:checked ~ .percentage#percentage-4 {
    background-color: var(--hover-background-percentage);
        color: var(--background-percentage);
}