.percentage {
    border: 0px;
    border-radius: 4px;
    color: white;
    text-align: center;
    background-color: var(--background-percentage);
    height: 24px;
}

#tips {
    #name {
        margin: 0px 0px 10px 0px;
        color: var(--color-name);
    }

    #percentages {
        display: grid;
        grid-template-columns: auto auto 33%;
        gap: 5px;

        Input {
            width: 100%;
            text-align: center;
        }
    }
}