:root {
    --background-app: #C5E4E7;
    --color-title: #517275;

    /* Input */
    --background-input: #F3F8FB;
    --color-input: #B4C4C3;
    --color-input-name: #7F8C8C;

    /* Percentage */
    --background-percentage: #00474B;

    /* Results */
    --background-results: #00474B;
    --color-subname: #5E9094;
    --color-results: #37BAAC;
}