.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-app);

  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;

  #title {
    text-align: center;
    color: var(--color-title);
  }

  #app-board {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;

    #set-data {
      display: grid;
      align-items: center;
    }
  }
}